In [1]:
import os
print(os.getcwd())

/Users/lizhanbing12/skill-learn

In [2]:
print(os.listdir('.'))

['Untitled.ipynb', 'node_modules', 'ai-learning-assistant', 'server', 'README.md', 'public', 'package-lock.json', 'package.json', 'learn_numpy.ipynb', '.ipynb_checkpoints', '.git', 'skill-root.md']

In [5]:
if os.path.exists('skill-root.md'):
    print("Directory exists")
else:
    print("Directory does not exist")

Directory exists

In [6]:
import sys
print(sys.getsizeof(os))

72

In [8]:
print(os.getpid())

82994

In [ ]:
import pandas as pd
import numpy as np
data = {'A':[1, 2, 3], 'B':[4, 5, 6]}
df = pd.DataFrame(data)
print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [11]:
print("numpy:", np.__version__, "pandas:", pd.__version__)

numpy: 2.2.6 pandas: 2.3.0

In [13]:
a = np.array([1, 2, 3, 4])
b = np.arange(6).reshape(2,3) # 2行3列
c = np.linspace(0, 1, 5) # 0到1之间
print("a:", a, "shape:", a.shape)
print("b:\n", b, "shape:", b.shape)
print("c:", c)

a: [1 2 3 4] shape: (4,)
b:
 [[0 1 2]
 [3 4 5]] shape: (2, 3)
c: [0.   0.25 0.5  0.75 1.  ]

In [14]:
print("b sum:", b.sum(axis=0))
print("b mean:", b.mean(axis=1))
x = np.array([1, 2, 3])
y = np.array([[10], [20]])
print("x + y(broadcast):\n", x + y)  # 广播机制

b sum: [3 5 7]
b mean: [1. 4.]
x + y(broadcast):
 [[11 12 13]
 [21 22 23]]

In [15]:
data = np.random.randn(1000)
print(data.mean(), data.std())

blocks = data.reshape(10,100)
print('block means:', blocks.mean(axis=1))

0.00020564740149907923 0.9972656521202228
block means: [ 0.03162021 -0.13101939  0.01818655 -0.04716084  0.04297487  0.008797
  0.10008793 -0.16711324  0.0801107   0.06557269]

In [19]:
df = pd.DataFrame({
    "user": ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'C'],
    "value": [5, 15, 25, 10, 20, 30, 5, 15],
    "data": pd.to_datetime(["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04",
                              "2023-01-05", "2023-01-06", "2023-01-07", "2023-01-08"])

})

print(df.head())
print(df.info())
print(df.describe())

  user  value       data
0    A      5 2023-01-01
1    B     15 2023-01-02
2    A     25 2023-01-03
3    C     10 2023-01-04
4    B     20 2023-01-05
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    8 non-null      object
 1   value   8 non-null      int64
 2   data    8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 324.0+ bytes
None
           value                 data
count   8.000000                    8
mean   15.625000  2023-01-04 12:00:00
min     5.000000  2023-01-01 00:00:00
25%     8.750000  2023-01-02 18:00:00
50%    15.000000  2023-01-04 12:00:00
75%    21.250000  2023-01-06 06:00:00
max    30.000000  2023-01-08 00:00:00
std     9.038608                  NaN

In [21]:
print(f'value :{df["value"]}')
print(df.loc[0])
print(df.iloc[1:4])

value :0     5
1    15
2    25
3    10
4    20
5    30
6     5
7    15
Name: value, dtype: int64
user                       A
value                      5
data     2023-01-01 00:00:00
Name: 0, dtype: object
  user  value       data
1    B     15 2023-01-02
2    A     25 2023-01-03
3    C     10 2023-01-04

In [23]:
print(df["value"] > 10)

0    False
1     True
2     True
3    False
4     True
5     True
6    False
7     True
Name: value, dtype: bool

In [26]:
print(df[df["value"] > 10])
print("="*20)
print(df[df["value"] > 10]["user"].iloc[1:4])

  user  value       data
1    B     15 2023-01-02
2    A     25 2023-01-03
4    B     20 2023-01-05
5    A     30 2023-01-06
7    C     15 2023-01-08
====================
2    A
4    B
5    A
Name: user, dtype: object

In [27]:
df["value_norm"] = (df["value"] - df["value"].mean()) / df["value"].std()
print(df)

  user  value       data  value_norm
0    A      5 2023-01-01   -1.175513
1    B     15 2023-01-02   -0.069148
2    A     25 2023-01-03    1.037217
3    C     10 2023-01-04   -0.622330
4    B     20 2023-01-05    0.484035
5    A     30 2023-01-06    1.590400
6    C      5 2023-01-07   -1.175513
7    C     15 2023-01-08   -0.069148

In [29]:
res = df.groupby("user", as_index=False)["value"].mean().sort_values(by="value", ascending=False)
print(res)

  user  value
0    A   20.0
1    B   17.5
2    C   10.0

In [38]:
df2 = pd.DataFrame({
    "name": ['Alice', 'Bob', None, 'Alice', 'Col'],
    "score": [90, 80, 70, None, None],
    "tag": ['A', 'B', 'C', 'A', None]

})

print("before:\n" ,df2)

before:
     name  score   tag
0  Alice   90.0     A
1    Bob   80.0     B
2   None   70.0     C
3  Alice    NaN     A
4    Col    NaN  None

In [34]:
print("isnull:\n", df2.isnull())

isnull:
     name  score    tag
0  False  False  False
1  False  False  False
2   True  False  False
3  False   True  False

In [ ]:
df2_filled = df2.fillna({"score": df2["score"].mean(), "name": "Unknown"})
print("after fillna:\n", df2_filled)

after fillna:
       name  score   tag
0    Alice   90.0     A
1      Bob   80.0     B
2  Unknown   70.0     C
3    Alice   80.0     A
4      Col   80.0  None

In [42]:
def abc(score):
    if score >= 85:
        return 'A'
    elif score >= 75:
        return "B"
    else:
        return "C"
df2_filled['grade'] = df2_filled['score'].apply(abc)
print("after apply:\n", df2_filled)

after apply:
       name  score   tag grade
0    Alice   90.0     A     A
1      Bob   80.0     B     B
2  Unknown   70.0     C     C
3    Alice   80.0     A     B
4      Col   80.0  None     B

In [ ]:
print('drop duplicates:\n', df2_filled.drop_duplicates("name")) #这里需要传入参数

drop duplicates:
       name  score   tag grade
0    Alice   90.0     A     A
1      Bob   80.0     B     B
2  Unknown   70.0     C     C
4      Col   80.0  None     B

In [45]:
print(df2_filled['name'].str.lower())

0      alice
1        bob
2    unknown
3      alice
4        col
Name: name, dtype: object

In [46]:
left = pd.DataFrame({
    'id': [1, 2, 3],
    'value_left': ['A', 'B', 'C']
})
right = pd.DataFrame({
    'id': [2, 3, 4],
    'value_right': ['D', 'E', 'F']
})
print("merge inner:\n", left.merge(right, on='id', how='inner'))

sales = pd.DataFrame({
    'product': ['A', 'B', 'C', 'A'],
    'day': ['2023-01-01', '2023-01-01', '2023-01-01', '2023-01-02'],
    'sales': [100, 150, 200, 130],
    'amout': [1000, 2000, 3000, 1500]})
pivot = sales.pivot_table(index='product', values=['sales', 'amout'], aggfunc='sum', fill_value=0, columns=['day'])
print("pivot table:\n", pivot)

merge inner:
    id value_left value_right
0   2          B           D
1   3          C           E
pivot table:
              amout                 sales
day     2023-01-01 2023-01-02 2023-01-01 2023-01-02
product
A             1000       1500        100        130
B             2000          0        150          0
C             3000          0        200          0